body {
  background-color: rgb(246, 203, 210);
}
.a {
  text-align: center;
  background-color: rgb(240, 135, 214);
}
.b {
  text-align: center;
  color: rgb(218, 146, 185);
}
.c {
  text-align: center;
  display: grid;
}
.d img {
  text-align: center;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  display: grid;
  animation: op 6s ease infinite alternate;
}
.Contener {
  text-align: center;
  transform: translate(10%, 50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.ooo {
  transform: translateX(100%);
  border-radius: 50px;
  width: 300px;
  height: 300px;
  display: grid;
}
.p {
  font-size: large;
  color: rgb(79, 133, 220);
}
.t {
  font-size: large;
  color: rgb(79, 133, 220);
}
.n {
  font-size: large;
  color: rgb(79, 133, 220);
}

@keyframes op {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(0.9);
  }
}
.ee {
  text-align: center;
  color: rgb(34, 78, 161);
  font-size: 40px;
}
@media (max-width: 600px) {
  .ooo {
    width: 180px;
    height: 180px;
  }
}
